/*----------------Teams Buttons---------------------------*/
/*.one{
  position:relative;
  top:150%;
}

.one-active{
  position:relative;
  border: 6px solid #73AD21;
   top: 300%;
   right:-30%;
}


.two {
  position: relative;
  border:1px solid purple;
  top:30%;
  right:-5%;
  }

.two-active {
  position:relative;
  border: 6px solid #73AD21; 
  top:300%;
  right:-5%;
  }

.three {
  position:relative;
  border:1px solid orange;
    top:150%;
    left:12%;
    
}

.three-active {
  position:relative;
  border: 6px solid #73AD21;
  top: 300%;
  left : -30%;
    
}

.four {
  position:relative;
  float:left;
  border:1px solid red;
   top:300%;
 
}

.four-active {
  position:relative;
  border: 6px solid #73AD21;
  top:300%;
  right : -40%;
}
                 */
  




/*-------------Description symbols div------------------*/







